<div class="confirm-box">
    <div class="modal-header border-0">
        <h3 class="modal-title font-family-bold">{{ title }}</h3>
    </div>

	<div class="modal-body pt-0">
        <span style="font-size:14px">{{ message }}</span>
    </div>

    <div class="modal-footer border-0">
        <button type="button" class="btn btn-sm btn-primary shadow-sm" (click)="confirm()">
            <i class="me-2 fa-solid fa-check"></i>Ya
        </button>

        <button type="button" class="btn btn-sm btn-inverse-dark shadow-sm" (click)="decline()">
            <i class="me-2 fa-solid fa-times"></i>Tidak
        </button>
    </div>
</div>
